.banner {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 10px;

  border-bottom: 3px solid #f0f4f5;
}

.title {
  font-size: 22px;
  font-weight: 600;
}
.author {
  color: rgb(36, 37, 38);
  font-size: 17px;
}
