* {
  padding: 0;
  margin: 0;
  text-decoration: none;

  font-family: 'Inter', sans-serif;
  letter-spacing: 0.5px;

  background: rgb(206, 204, 205);
}

.container {
  min-height: auto;
  width: 100%;
}
